* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edeade;

}
.top-text {
  text-align: center;
  padding-top: 10px;
  font-size: 30px;
}
.content {
  padding-top: 150px;
  padding-left: 80px;
  width: 50%;
  color: #333;
  margin-right: 10%;

}

.content_heading {
  font-size: 50px;
}
.content_text {
  padding-top: 50px;
  font-size: 20px;
  text-align: justify;
}
.container {
  width: 300px;
  height: 380px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 10px;
  perspective: 1000px;
  margin-left:750px;
  top: -350px;
  position: relative;
  

}

.days-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.container:hover .days-container {
  transform: rotateY(180deg);
  cursor: pointer;
}

.front,
.back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}
.front{
  background: white url("africanman.jpg"); 
  padding-top: 60px;
  

} 
.front h3{
  color: #fff;
  font-size: 33px;
  display: inline-block;
  border-bottom: 2px solid #fff ;
  font-weight: 300px;
  padding-top: 100px ;
}
.back{
  width: 280px;
  height: 380px;
  background: white;
  transform: rotateY(180deg);
}
.back ul{
  position: relative;
  padding-top: 20px ;
  list-style: none;
  padding-left: 30px;
  color: #333;
  font-size: 20px;
  text-align: justify; 
}
.back li{
  margin: 20px ;
  padding: 2px 5px;
  font-weight: 900;
}
.female-back{
  
}


