* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edeade;
}
.top-text {
  text-align: center;
  padding-top: 10px;
  font-size: 30px;
}
.content{
  padding-top:150px ;
  padding-left: 80px;
  width: 50%;
  color: #333;
  /* background:#fff3f3 ;
  box-sizing: border-box; */
} 
  
  
.content_heading{
  font-size: 50px;

}
.content_text{
  padding-top: 50px ;
  font-size:20px;
  text-align: justify;
 


}